body {
  background-color: #74c8e4;
}

h1 {
  font-size: 38px;
  padding: 0 25px;
}

h3 {
  text-align: left;
  margin-top: 10px;
  margin-left: 6px;
}

h2 {
  margin: 10px 20px;
  font-size: 48px;
  padding: 0 25px;
}

form {
  margin: 10px 0 25px 0;
}

input {
  border: 1px solid transparent;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}

li {
  display: -webkit-inline-box;
  padding-right: 8px;
}

button {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0;
}

#weather-icon {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

#icon {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.container {
  text-align: center;
  font-family: "Asap Condensed", sans-serif;
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 50px;
  max-width: 600px;
  padding: 5px;
}

.forecast-container {
  background-color: #f7f2d9;
  max-width: 600px;
}

.search-bar {
  width: 85%;
}

.day-date-time {
  text-align: right;
  font-size: 17px;
  font-weight: normal;
  padding: 15px 0;
  padding-right: 12px;
}

.temp-description {
  padding: 15px 0;
  padding-left: 12px;
}

.unit {
  font-size: 15px;
  vertical-align: 80%;
}

.description {
  text-transform: capitalize;
}
